.navbarbrand {
  font-weight: bold;
  font-size: 2rem;
  color: #182172 !important;
}
.Link {
  color: #182172 !important;
  font-weight: 300;
  font-size: 1.2rem;
}
.Link:hover {
  color: var(--secondaryColor) !important;
  text-decoration: underline 2px wavy var(--secondaryColor);
}
.btn {
  color: white !important;
}
